/node_modules
/public/hot
/public/storage
/public/car_images
/public/purchage_documents
/public/taxation_images
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.code-workspace